<div id="change_view">
  <% if @monthly_view == "true" %>
      <%= link_to "年額表示", user_path(params[:id], monthly_view: "false"), class: "btn btn-primary btn-sm", remote: true %>
  <% else %>
      <%= link_to "月額表示", user_path(params[:id], monthly_view: "true"), class: "btn btn-primary btn-sm", remote: true %>
  <% end %>
</div>
